body
{
    background-color: beige;
}

 header{

    background: cadetblue;
    color: blue;
}|

div#header_Logo{

   border: 1px solid black;
   width: 90%;
   padding: 10px;
   border-color: black;
   
}

img#figure_imagen
{
   width: 100px;
   height: 100px;
}

img#img_imagen{
   width: 50%;
   height: 50%; 
   margin: 10px;
}



.Linea1{
   width:90%;
   height: 322px;
   border: 1px solid black;
   margin: 10px;
}

.Columna1{
   width: 45%;
   height: 302px;
   border: 2px solid blue;
   margin: 10px;
   float: left;


}
.Columna2{
   width: 45%;
   height: 302px;
   border: 2px solid blue;
   margin: 10px;
   float: left;
}

.seccion_articulos
{
 color: grey ;  
}
.articulos
{
   width: 60%;
   color: coral;
   margin: 10px;
   padding: 20px;
   float: left;
   border: 1px solid coral;

}

img#ImagenCoronavirus{
   width: 70%;
   margin: 10px;
   border: 1px solid rgb(122, 9, 107);
   float: left;


}


