body
{
    background-color: beige;
}

 header{

    background: cadetblue;
    color: blue;
}|

div#header_Logo{

   border: 1px solid black;
   width: 90%;
   padding: 10px;
   border-color: black;
}

img#figure_imagen
{
   width: 100px;
   height: 100px;
}

img#img_imagen{
   width: 50%;
   height: 50%; 
   margin: 10px;
}



.Linea1{
   width:90%;
   height: 322px;
   border: 1px solid black;
   margin: 10px;
   display: inline inline-flex;
}

.Columna1{
   width: 45%;
   height: 302px;
   border: 1px solid black;
   margin: 10px;
   float: left;


}
.Columna2{
   width: 45%;
   height: 302px;
   border: 1px solid black;
   margin: 10px;
   float: left;
}

.seccion_articulos
{
 color: grey ;  
}
.articulos
{
   
   color: springgreen;
   margin: 20px;
   padding: 20px;
   float: left;

}

img#ImagenCoronavirus{
   width: 200px;
}


